@charset "UTF-8";

/* Aqui será escrito o CSS personalizado caso for preciso */

.is-blue {
  background-color: #3273dc;
}

.is-green {
  background-color: #23d160;
}

.is-yellow {
  background-color: #FFDD57;
}

.is-text-white {
  color: #fff;
}

.has-padding-25 {
  padding: 25%;
}

.has-padding-10 {
  padding: 10%;
}

.has-padding-3 {
  padding: 3%;
}

.has-width-70 {
  width: 70%;
  margin: auto;
}

.has-width-30 {
  width: 30% !important;
  margin: auto;
}

.has-margin-50 {
  margin: 50%;
}

footer {
  padding-bottom: 3% !important;
  margin-bottom: 0 !important;
}

.desenvolvidoPor {
  margin-top: 3%;
}

.imgApoiador {
  height: 7em !important;
  width: auto !important;
  display: block !important;
  margin: auto !important;
}

.apoiadores {
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
}

#fakeSection {
  height: 0 !important;
}

.marginBottom0 {
  margin-bottom: 0 !important;
}

.has-margin-bottom-1 {
  margin: 1rem !important;
}